<!doctype html>
<html>
<head>
  <title>Adding Cookbooks</title>
  <!--script src="{{ url_for('static', filename='script.js') }}"></script-->
  <!--link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"-->
</head>
<body>

  <h1>Add a cookbook</h1>
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul>
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}

  <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.isbn.label }}<br>
            {{ form.isbn }}
            {% for error in form.isbn.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.save() }}</p>
  </form>

</body>
</html>
